@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Your Claims";
}

<h1>Welcome @User.Identity.Name</h1>
<h2>Claims</h2>
<p>
    Used for debug purposes to verify authentication and authorisation data. Only you can see these details.
</p>

<ul>
    <li><b>Is Authenticated:</b> @User.Identity.IsAuthenticated</li>
    <li><b>Authentication type:</b> @User.Identity.AuthenticationType</li>
</ul>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>