@{
    var containerClass = "container";
    if (ViewData["useContainer"] != null && !(bool)ViewData["useContainer"])
    {
        containerClass = string.Empty;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - LB Photos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="/img/lb-lid.svg" height="30" title="londonbikers.com" class="mr-2" alt="londonbikers.com logo" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Photos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="SignOut">Sign Out</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Path">Sign In</a>
                            </li>
                        }

                    </ul>
                </div>
                                    
                <form class="form-inline my-2 my-lg-0" method="get" action="/search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>
        </nav>
    </header>

    <main role="main">
        <div class="@containerClass">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - <a href="https://londonbikers.com/">londonbikers.com</a> - <a asp-controller="Home" asp-action="Privacy">Privacy</a>

            <div id="footer-right" class="image-fade">
                <a href="https://www.facebook.com/LondonBikersDotCom" target="_blank"><img src="/img/facebook.svg" width="25" title="Follow us on Facebook" alt="Facebook logo"/></a>
                <a href="https://twitter.com/londonbikers" target="_blank"><img src="/img/twitter.svg" width="25" title="Follow us on Twitter" alt="Twitter logo"/></a>
                <a href="https://www.instagram.com/london.bikers/" target="_blank"><img src="/img/instagram.svg" width="25" title="Follow @@london.bikers on Instagram" alt="Instagram logo"/></a>
                <a href="https://www.instagram.com/lbsnappers/" target="_blank"><img src="/img/instagram.svg" width="25" title="Follow @@lbsnappers on Instagram" alt="Instagram logo"/></a>
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
