@using LB.PhotoGalleries.Application
@using LB.PhotoGalleries.Application.Models
@model LB.PhotoGalleries.Application.Models.Gallery
@{
    ViewData["Title"] = "Edit Gallery";
    var error = (string)ViewData["error"];
    var images = (List<Image>)ViewData["images"];
    var isAuthorisedToEdit = (bool)ViewData["isAuthorisedToEdit"];
}

@section Styles {
    <link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css" />
    <link rel="stylesheet" href="~/lib/dropzone/dist/basic.css" />
}

<h1>Edit Gallery</h1>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

<div class="row">
    <div class="col">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Server.Instance.Categories.Categories,"Id","Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea class="form-control" rows="3" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>

            @if (isAuthorisedToEdit)
            {
                <div class="form-group">
                    <a class="btn btn-danger" asp-action="Delete" asp-route-pk="@Model.CategoryId" asp-route-id="@Model.Id">
                        Delete
                    </a>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }

        </form>

    </div>
    <div class="col">

        <dl class="row">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.CreatedByUserId)
            </dt>
            <dd class="col-sm-10">
                @Html.ActionLink((string)ViewData["username"], "Details", "Users", new { id = Model.CreatedByUserId })
            </dd>

            @if (Model.LegacyNumId > 0)
            {
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.LegacyNumId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LegacyNumId)
                </dd>
            }

            @if (Model.LegacyGuidId.HasValue && Model.LegacyGuidId != Guid.Empty)
            {
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.LegacyGuidId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LegacyGuidId)
                </dd>
            }

        </dl>

    </div>
</div>

<div class="row">
    <div class="col">
        <div id="dropzone">
            <form asp-action="Upload" asp-route-id="@Model.Id" class="dropzone needsclick dz-clickable" id="uploader">
                <div class="dz-message needsclick">
                    Drop files here or click to upload.<br>
                </div>
            </form>
        </div>
    </div>
</div>

<h2>Images</h2>
<p>Count: @images.Count</p>

@foreach (var image in images.OrderBy(i => i.Position))
{
    <a asp-area="Admin" asp-controller="Images" asp-action="Edit" asp-route-categoryId="@Model.CategoryId" asp-route-galleryId="@Model.Id" asp-route-imageId="@image.Id">
        <img srcset="
             /i/@image.StorageId?w=800&h=800&mode=crop 800w,
             /i/@image.StorageId?w=600&h=600&mode=crop 600w,
             /i/@image.StorageId?w=400&h=400&mode=crop 400w,
             /i/@image.StorageId?w=200&h=200&mode=crop 200w"
             src="/i/@image.StorageId?w=200&h=200&mode=crop"
             style="display: inline; padding-right: 10px; padding-bottom: 10px;"
             alt="@image.Name"
             width="200"
             height="200" />
    </a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            Dropzone.options.uploader = {
                paramName: "file",
                maxFilesize: 50,
                acceptedFiles: "image/*,.jpg,.jpeg,.png,/gif"
            };
        });
    </script>
}
