@using LB.PhotoGalleries.Application
@model IEnumerable<LB.PhotoGalleries.Application.Models.GalleryStub>
@{
    ViewData["Title"] = "Admin: Galleries";
}

<div class="text-center">
    <h1 class="display-4">Galleries Admin</h1>
    <p>From here you can create, update and delete galleries.</p>
</div>

<p>
    <a asp-area="Admin" asp-controller="Galleries" asp-action="Create">Create a new gallery</a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">Category</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Active)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Created)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="6" class="text-center">No galleries to show. Create the first using the link above!</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
                    <td>@Html.DisplayFor(modelItem => Server.Instance.Categories.Categories.First(c=>c.Id == item.CategoryId).Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Active)</td>
                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { categoryId = item.CategoryId, galleryId = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { categoryId = item.CategoryId, galleryId = item.Id })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
