@using LB.PhotoGalleries.Application
@model IEnumerable<GalleryAdminStub>
@{
    ViewData["Title"] = "Admin: Galleries";
}

<div class="text-center">
    <h1 class="display-4">Galleries Admin</h1>
    <p>From here you can create, update and delete galleries.</p>
</div>

<div class="text-center mb-3">
    <a asp-area="Admin" asp-controller="Galleries" asp-action="Create" class="btn btn-outline-primary">Create a New Gallery</a>

</div>

<div class="mt-5 mb-2">
    <form asp-controller="Galleries" asp-action="Index" method="post" class="form-inline">
        <div class="form-group mr-sm-3">
            <input name="query" class="form-control" placeholder="Search" value="@ViewData["query"]" />
        </div>
        
        <select name="categoryId" class="custom-select my-1 mr-sm-2">
            <option selected>Choose category...</option>
            @foreach (var category in Server.Instance.Categories.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        
        <select name="status" class="custom-select my-1 mr-sm-2">
            <option value="NotSpecified" selected>Choose status...</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select>

        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
</div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
        <th scope="col">Category</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Active)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Created)</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    @if (Model == null || !Model.Any())
    {
        <tr>
            <td colspan="6" class="text-center">No galleries to show. Create the first using the link above!</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
                <td>@Html.DisplayFor(modelItem => Server.Instance.Categories.Categories.First(c => c.Id == item.CategoryId).Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Active)</td>
                <td>@item.Created.ToShortDateString()</td>
                <td>@Html.ActionLink("Edit", "Edit", new { pk = item.CategoryId, id = item.Id }, new {@class="btn btn-sm btn-primary"})</td>
            </tr>
        }
    }

    </tbody>
</table>

@if (User.IsInRole(Roles.Administrator.ToString()))
{
    <hr />
    <div class="text-center">
        <a asp-area="Admin" asp-controller="Galleries" asp-action="MissingThumbnails" class="btn btn-sm btn-outline-secondary">Missing Thumbnails</a>
        <a asp-area="Admin" asp-controller="Galleries" asp-action="OrphanedGalleries" class="btn btn-sm btn-outline-secondary">Orphaned Galleries</a>
    </div>
}