@model LB.PhotoGalleries.Application.Models.Image

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GalleryCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GalleryCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GalleryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GalleryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegacyNumId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegacyNumId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegacyGuidId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegacyGuidId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
