@model IEnumerable<LB.PhotoGalleries.Application.Models.Category>
@{
    ViewData["Title"] = "Categories Admin";
}

<div class="text-center">
    <h1 class="display-4">Categories Admin</h1>
    <p>From here you can create, update and delete (empty) gallery categories.</p>
</div>

<a asp-area="Admin" asp-controller="Categories" asp-action="Create">Create a new category</a>
<hr />

<h2>Categories</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="4" class="text-center">No categories to show. Create the first using the form above!</td>
            </tr>
        } 
        else 
        {
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                </tr>
            }
        }

    </tbody>
</table>