@using Newtonsoft.Json
@using LB.PhotoGalleries.Models.Enums
@model SearchPagedResultSet
@{
    var query = (string)ViewData["query"];
    ViewData["Title"] = $"Search for {query}";
    var categoriesJson = Model.CategoryResults != null ? JsonConvert.SerializeObject(Model.CategoryResults.Select(c => new { c.Name })) : null;
    var galleriesJson = (string)ViewData["galleriesJson"];
    var imagesJson = (string)ViewData["imagesJson"];
}
<div class="text-center">
    <h4 class="display-4">Search Results</h4>
    Showing search results for <b>@ViewData["query"]</b>
    <div class="mt-2 text-muted">
        <nav aria-label="...">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item disabled">
                    <span class="page-link">Showing</span>
                </li>
                <li class="page-item@(Model.SearchResultsType == SearchResultsType.All ? " sub-active" : "")"><a class="page-link" href="@Helpers.GetSearchTypeUrl(SearchResultsType.All, query)">All</a></li>
                <li class="page-item@(Model.SearchResultsType == SearchResultsType.Categories ? " sub-active" : "")"><a class="page-link" href="@Helpers.GetSearchTypeUrl(SearchResultsType.Categories, query)">Categories</a></li>
                <li class="page-item@(Model.SearchResultsType == SearchResultsType.Galleries ? " sub-active" : "")"><a class="page-link" href="@Helpers.GetSearchTypeUrl(SearchResultsType.Galleries, query)">Galleries</a></li>
                <li class="page-item@(Model.SearchResultsType == SearchResultsType.Images ? " sub-active" : "")"><a class="page-link" href="@Helpers.GetSearchTypeUrl(SearchResultsType.Images, query)">Photos</a></li>
            </ul>
        </nav>
    </div>
</div>

<hr />

@await Component.InvokeAsync("SearchPaginator", new { searchPagedResultSet = Model })

<div class="row" style="display: none;" data-bind="visible: Categories().length > 0">
    <div class="col text-center">
        <strong>Categories</strong> (<span data-bind="text: Categories().length"></span> result<span data-bind="visible: Categories().length > 1">s</span>)
        <div data-bind="foreach: Categories" class="mt-3">
            <a data-bind="text: Name, attr: { href: window.GetCategoryUrl(Name) }" class="btn btn-sm btn-outline-primary btn-v-spaced" role="button"></a>
        </div>
    </div>
</div>

<div class="row mt-3 mb-3" style="display: none;" data-bind="visible: Galleries().length > 0">
    <div class="col text-center">
        <strong>Galleries</strong> (<span data-bind="text: GalleriesTotalResults"></span> result<span data-bind="visible: Galleries().length > 1">s</span>)
        <div data-bind="visible: GalleriesTotalResults === MaxResults" class="alert alert-warning mt-2" role="alert">
            There were more than <span data-bind="text: MaxResults"></span> results. Refine your search if you don't see what you're looking for.
        </div>
    </div>
</div>

<div class="row mb-3" style="display: none;" data-bind="visible: Galleries().length > 0, foreach: Galleries">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <a data-bind="attr: { href: GetGalleryUrl(CategoryName, Id, Name) }"><img data-bind="attr: { title: Name, src: GetImageThumbnailUrl(ThumbnailFiles, $element) }" class="img-fluid" /></a>
            <div class="card-body-thin">
                <p class="card-text text-center" data-bind="text: Name"></p>
            </div>
            <div class="card-body-thin card-body-bottom">

                <div class="show-768px-wide">
                    <!-- show this just for ipads -->
                    <div class="d-flex justify-content-between align-items-center text-med-size">
                        <span class="text-muted" data-bind="text:CategoryName"></span>
                        <span data-bind="visible: CommentCount > 0"><i class="bi bi-chat"></i> <span data-bind="text: CommentCount"></span></span>
                        <span class="text-muted"><i class="bi bi-images"></i> <span data-bind="text: ImageCount"></span></span>
                    </div>
                </div>

                <div class="hide-less-than-768-wide hide-more-than-768-wide">
                    <!-- show this for all other devices -->
                    <div class="d-flex justify-content-between align-items-center text-med-size">
                        <span class="text-muted" data-bind="text:CategoryName"></span>
                        <span data-bind="visible: CommentCount > 0"><span data-bind="text: CommentCount"></span> Comment<span data-bind="visible: CommentCount > 1">s</span></span>
                        <span class="text-muted"><span data-bind="text: ImageCount"></span> Photos</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row mb-3" data-bind="visible: Images().length > 0">
    <div class="col text-center">
        <strong>Photos</strong> (<span data-bind="text: ImagesTotalResults"></span> result<span data-bind="visible: Images().length > 1">s</span>)
        <div data-bind="visible: ImagesTotalResults === MaxResults" class="alert alert-warning mt-2" role="alert">
            There were more than <span data-bind="text: MaxResults"></span> results. Refine your search if you don't see what you're looking for.
        </div>
    </div>
</div>

<div class="row mb-3 text-center" data-bind="visible: Images().length > 0, foreach: Images">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <a data-bind="attr: { href: window.GetImageUrl(GalleryId, Id, Name) }"><img data-bind="attr: { title: Name, src: GetImageThumbnailUrl(Files, $element) }" class="img-fluid" /></a>
            <div class="card-body card-body-thin">
                <span class="card-text" data-bind="text: Name"></span>
                <div data-bind="visible: Count > 0" class="text-med-size mt-1">
                    <span data-bind="text: Count"></span> Comment<span data-bind="visible: Count > 1">s</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-3">
    @await Component.InvokeAsync("SearchPaginator", new { searchPagedResultSet = Model })
</div>

<div class="text-center lead mt-4" style="display: none;" data-bind="visible: Categories().length === 0 && Galleries().length === 0 && Images().length === 0">
    No results, sorry. Please try another search
</div>

@section Scripts
{
    <script src="~/lib/knockout/dist/knockout-3.5.1.js"></script>

    <script type="text/javascript">

    // convert the category, gallery and image server objects into lightweight objects to aid with their rendering
    // and convert to json so the Knockout script can parse it and use them.
    var rawCategories = @Html.Raw(string.IsNullOrEmpty(categoriesJson) ? "[]" : categoriesJson);
    var rawGalleries = @Html.Raw(string.IsNullOrEmpty(galleriesJson) ? "[]" : galleriesJson);
    var rawImages = @Html.Raw(string.IsNullOrEmpty(imagesJson) ? "[]" : imagesJson);

    // the view model that knockout uses to bind data to the html
    function ViewModel() {
        const self = this;

        self.MaxResults = @Html.Raw(Model.MaximumResults);
        self.Categories = ko.observableArray(rawCategories);

        // parse the galleries from a json blob
        self.Galleries = ko.observableArray(rawGalleries);
        self.GalleriesTotalResults = @Model.TotalGalleryResults;

        // parse the images from a json blob
        self.Images = ko.observableArray(rawImages);
        self.ImagesTotalResults = @Model.TotalImageResults;
    }

    $(document).ready(function() {
        ko.applyBindings(new ViewModel());
    });

    </script>
}
