@model IEnumerable<LB.PhotoGalleries.Application.Models.User>
@{
    ViewData["Title"] = "Users Admin";
}

<h1>Latest Users</h1>

<form asp-controller="Users" asp-action="Index">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="SearchString">Name:</label>
            <input type="text" name="SearchString" id="SearchString" class="form-control mb-2" placeholder="Search for a user...">
        </div>
        <div class="col-auto">
            <input type="submit" value="Filter" class="btn btn-primary mb-2" />
        </div>
    </div>
</form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Picture)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
                <td>@Html.DisplayFor(modelItem => item.Picture)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.ActionLink("Details", "Details", new { item.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { item.Id })</td>
            </tr>
        }
    </tbody>
</table>
